		<div class="wrap">
			<div style="min-width:45%;float:left;height:500px;">
				<h2>{{page_title}}</h2>
				<form class="add:the-list: validate" method="post" enctype="multipart/form-data" onsubmit="return file_exist();">

					<!-- File input -->
					<p>
						<label for="csv_import">{{upload_file_label}}</label>
						<input name="csv_import" id="csv_import" type="file" value="" aria-required="true" />
					</p>

					<p>
						<label>{{post_type_label}}</label>
						<select name='csv_importer_cat'>
							{% for type in post_types %}
								{% set typename = type.labels.singular_name %}
								<option id="{{typename}}" name="{{typename}}">{{typename}}</option>
							{% endfor %}
							<option id="post-types-from-file" name="post-types-from-file">Post types from file...</option>
						</select>
					</p>

					<p>
						<label for="post_status"></label>
						<select name='post_status'>
							{{post_status}}
							{% for status in post_status_list %}
								{% set statusname = status.labels.singular_name %}
								<option id="{{statusname}}" name="{{statusname}}">{{statusname}}</option>
							{% endfor %}
							<option id="from-file" name="from-file">From file...</option>
						</select>
					</p>

					<p>
						<label>{{delimiter_label}}</label>
						<select name="delim" id="delim">
							<option value=",">,</option>
							<option value=";">;</option>
						</select>
					</p>
					<p class="submit">
						<input type="submit" class="button" name="Import" value="Import" />
					</p>
				</form>
			<div style="min-width:45%;">
				{{description_text}}
			</div>
		</div><!-- end wrap -->
