			<div style="font-size:16px;margin-left:20px;">Your CSV file was not processed. It may contain the wrong delimiter, make sure you picked the correct one.
			</div><br/>
			<div style="margin-left:20px;">
				<form class="add:the-list: validate" method="post" action="">
					<input type="submit" class="button" name="Import Again" value="Import Again"/>
				</form>
			</div>
			<div style="margin-left:20px;margin-top:30px;">
				<strong>Please note:</strong>
				<p>1. Your CSV should contain "," or ";" as delimiters.</p>
				<p>2. In CSV, tags should be seperated by "," to import mutiple tags and categories should be seperated by "|" to import multiple categories.</p>
			</div>