			<div id="dcsvi-main-wrapper">
				<form class="add:the-list: validate" method="post" onsubmit="return import_csv();">
					<h3>Import Data Configuration</h3>
					<div style="margin-top:30px;">
						<input name="_dcsvi_importer_import_as_draft" type="hidden" value="publish" />
						<h3>Mapping the Field</h3>
						<div id="dcsvi-display-area">
							<input type="hidden" id="default_count" name="default_count" value="{{default_count}}"/>
							<input type="hidden" id="header_count" name="header_count" value="{{header_count}}"/>
							<input type="hidden" id="delim" name="delim" value="{{deliminator}}" />
							<input type="hidden" id="dcsvi-post-type" name="post_type" value="{{post_type}}" />
							<input type="hidden" name="dcsvi-post-status" value="{{post_status}}">
							<input type="hidden" id="header_array" name="header_array" value="{{header-array}}" />
							<div id="dcsvi-mapping-form">
								{% for row_number,row_name in headers %}
									<div class="mapping-field-input-wrap">
										{% set mappingindex = row_number %}
										<tr>
											<td>
												<label for="mapping-{{mappingindex}}">{{row_name}}</label>
											</td>
											<td>
												<select name="mapping-{{mappingindex}}" id="mapping-{{mappingindex}}" class ='uiButton' onchange="toggle_custom_field(this.value,this.getAttribute('name'), 'textbox-{{mappingindex}}');">
													<option name="select">-- Select --</option>
													{% for dkey,dval in defaults %}
														{% set defaultname = dkey %}
														<option name="{{defaultname}}" value="{{defaultname}}">{{defaultname}}</option>
													{% endfor %}
													<option value="add_custom-{{mappingindex}}">Add Custom Field</option>
												</select>
												<input type="text" id="textbox-{{mappingindex}}" name="textbox-{{mappingindex}}" style="display:none;"/>
											</td>
										</tr>
									</div>
								{% endfor %}
							</div>
						</div>
						<input type='hidden' name='filename' id='filename' value="{{previous-upload-file}}" />
						<input type='submit' name= 'post_csv' id='post_csv' value='Import' />
					</div>
				</form>
			</div>
			<div id="results">
				{{results}}
			</div>
